<p>
<%= label_tag 'name', character.name, :style => "width:200px;float:left", :id => "character_#{character.id}" %>
<%= link_to 'edit', edit_user_character_url(@user, character), :rel => 'facebox' %>|
<%= link_to 'delete', confirm_destroy_user_character_url(@user, character), :rel => 'facebox'%>
</p>
