<p><%= "Are you sure to delete this character?" %></p>
<% form_remote_tag :url => user_character_url(@user, @character), :method => :delete do %>
  <p>Validation code: <%= text_field_tag 'validation_text', '', :size => 4 %><%= submit_tag 'submit'%></p>
  <p><%= validation_image %></p>
<% end %>

