Wall:
<%= render :partial => 'event/wall_messages/input' %>
<div id='event_wall_messages'>
<%= render :partial => 'event/wall_messages/event_wall_message', :collection => @event_wall_messages %>
</div>
