<% server_array = [['---', '---']] %>
<% servers.each { |server| server_array << [server.name, server.id] } %>
<div id='servers'>
  <%= label_tag '', 'Game Server: '%>
  <%= select_tag 'event[game_server_id]', options_for_select(server_array, server_id), :onchange => "validate_server_id(this.value)"%>
  <a id='server_id_info'></a>
</div>

