<p><%= "Are you sure to delete this event?" %></p>
<% form_remote_tag :url => event_url(@event), :method => :delete do %>
  <p>Validation code: <%= text_field_tag 'validation_text', '', :size => 4 %><%= submit_tag 'submit'%></p>
  <p><%= validation_image %></p>
<% end %>
