<% i = 0 %>
<table cellpadding="10" >
<% photos.each do |photo| %>
  <% if i == 0 %> 
    <tr> 
  <% end %>
  <% image_divid = "photo_#{photo.id}" %>
  <td align='center'><%= link_to (image_tag photo.public_filename(:medium), :onmouseover => "this.setStyle({ border: '5px grey solid'});", :onmouseout => "this.setStyle({ border: '5px white solid'});", :style => "border:5px white solid"), album_photo_url(@album, photo)%></td>
  <% i = i + 1 %>
  <% if i == 4 %>
    </tr>
    <% i = 0 %>
  <% end %>
<% end %>
</table>
<%= will_paginate photos%>
