<p><%= "Are you sure to delete this blog?" %></p>
<% form_remote_tag :url => user_blog_url(@user, @blog, :draft => 0), :method => :delete do %>
  <p>Validation code: <%= text_field_tag 'validation_text', '', :size => 4 %><%= submit_tag 'submit'%></p>
  <p><%= validation_image %></p>
<% end %>

