<% content_for :left do %>
<table>
  <% form_tag :action => 'hello' do %>
    <tr><td>name:</td><td><%= text_field_tag 'login', nil, :size => 15 %></td></tr>
    <tr><td>password:</td><td><%= password_field_tag 'password', nil, :size => 15 %></td></tr>
    <tr><td><%= submit_tag 'login' %></td></tr>
  <% end %>
</table>
<% end %>

Main Body!!
