<p>
  <b>Name:</b>
  <%=h @province.name %>
</p>

<p>
  <b>Country:</b>
  <%=h @province.country_id %>
</p>


<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>