<h3> New Game Character </h3>

<div class='game-character'>
<% form_for :character, :html => {:id => 'character_form'} do |f| %> 
  <%= render :partial => 'user/characters/game_select', :locals => {:games => @games, :game_id => nil} %>
  <%= render :partial => 'user/characters/name_input', :locals => {:name => nil} %>
  <%= render :partial => 'user/characters/level_input', :locals => {:level => nil} %>
  <div id=details></div>
<% end %>
</div>

<%= link_to_function 'complete', "add_character()" %>

