<h1>New icon</h1>

<% form_tag icons_url, :multipart => true do %>
  <%= file_field_tag 'icon[uploaded_data]' %>
  <%= check_box_tag 'icon[current]', 'true', false %>
  <%= submit_tag 'upload' %>
<% end %>

<%= link_to 'Back', icons_path %>
