<%
    notifications = []
    notifications.concat @user.scomment_notifications
    notifications.concat @user.vcomment_notifications
    notifications.concat @user.bcomment_notifications
    notifications.concat @user.pcomment_notifications
    @notifications = notifications.find_all {|x| !x.read}
    @notifications = @notifications.sort { |x,y| y.created_at <=> x.created_at }
%>
<div class='comment-notification'>
  <h3> comments and messages  <%= link_to_function 'fold', "$('notifications').toggle();if(this.innerHTML == 'unfold') this.update('fold'); else this.update('unfold');", :class => 'hide-all'%></h3>
  <div id='notifications'>
    <%= render :partial => 'user/comment_notifications/notification', :collection => @notifications[0..7], :locals => {:delete => true} %>
  </div>
  <div class='view-all'>
    <%= link_to 'more..', user_comment_notifications_url(@user) %>
  </div>
</div>

