<%
    @notifications = @user.comment_notifications.find_all {|n| !n.read}
%>
<div class='comment-notification'>
  <h3> comment notification(<%= @notifications.count %> unread) <%= link_to_function 'fold', "$('comment_notifications').toggle();if(this.innerHTML == 'unfold') this.update('fold'); else this.update('unfold');", :class => 'hide-all'%></h3>
  <div id='comment_notifications'>
    <%= render :partial => 'user/comment_notifications/notification', :collection => @notifications[0..9], :locals => {:delete => true} %>
  </div>
  <div class='view-all'>
    <%= link_to 'more..', user_comment_notifications_url(@user) %>
  </div>
</div>

